* {
    margin: 0;
    padding: 0;
}

body {
    height: 170vh;
    display: flex;
    flex-direction: column; 
}

.main {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto; /* for main content to take up most of page */
}

.header, .intro {
    background-color: #1F2937;
}

.header {
    font-size: 24px;
    color: #F9FAF8;
    height: 40px;
    flex: 0 0 auto; /* to stick header to top */
    display: flex;
    justify-content: space-between;
    padding: 10px 70px;
    align-items: center;
    margin-top: 1px;
    flex-wrap: wrap;
    z-index: 999;
}

div.separate {
    color: #F9FAF8;
    border-top: 1px solid#F9FAF8;
    text-align: center;
    width: 95%;
    margin: 0 auto;
}

.header-logo {
    font-weight: bold;
}

ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

li a:hover {
    color: #3882F6;
}

div.between-list {
    border: none;
    border-left: 1px solid #F9FAF8;
}

.section {
    flex: 1;
    box-sizing: border-box;
}

.section.intro {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;
    padding: 20px;
}

.intro.text {
    max-width: 533.33px;
}

img {
    height: 300px;
    width: auto;
}

.intro a {
    padding: 8px 24px;
    border-radius: 8px;
    color: #F9FAF8;
    font-size: 16px;
    font-weight: 550;
    border: 2px solid #3882F6;
    background-color: #3882F6;
    text-decoration: none;
}

.intro a:hover {
    background-color: #F9FAF8;
    color: #3882F6;
}

h1 {
    font-size: 48px;
    font-weight: 1000;
    color: #F9FAF8;
    padding: 8px 0;
}

.intro p, a {
    font-size: 18px;
    color: #E5E7EB;
    margin: 8px 0;
}

.intro.sub {
    margin-bottom: 16px;
}

.info {
    text-align: center;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin: 40px 0;
}

.info-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-bottom: 70px;
}

.info img {
    width: 150px;
    height: auto;
    border-radius: 10px;
    border: 4px solid #3882F6;
    background-color: #E5E7EB;
}

.info p {
    width: 158px;
    color: #1F2937;
}

.section.quote {
    background-color: #E5E7EB;
    padding: 40px 80px;
}

p.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    margin-bottom: 40px;
}

p.creds {
    font-weight: bold;
    display: flex;
    justify-content: end;
    font-size: 24px;
    
}

.help {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}   

.container {
    background-color: #3882F6;
    width: 1200px;
    height: 150px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 130px;
    box-sizing: border-box;
    color: #E5E7EB;
    margin: 40px 0;
    flex-wrap: wrap;
}

h3 {
    font-size: 26px;
    color: #F9FAF8;
}

.left p {
    font-size: 18px;
}

.left.help {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}

.container button {
    border: 2px solid #F9FAF8;
    font-size: 16px;
    font-weight: 550;
    border-radius: 8px;
    padding: 8px 24px;
    color: #F9FAF8;
    background-color: #3882F6;
}

.container button:hover {
    background-color: #F9FAF8;
    color: #3882F6;
}

.footer {
    height: 50px;
    flex-shrink: 0; /* to stick footer to bottom */
    margin-top: auto;
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    flex-wrap: wrap;
}